
body{
  background-color: #333;
  color: #fff;
}


.App {
  text-align: center;
}


.taskBg{
  background-color: #555;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 8px 136px 8px 16px;
  text-align: left;
  font-size: 24px;
  position: relative;
}

.taskBg div{
  display: flex;
  align-items: center;
}

.taskBg .iconsWrap{
  position:absolute;
  top: 10%;
  transform: translate(-10%);
  right: 8px;
  width: auto;
  display: inline-block;
  /* gap: 16px; */
  display:flex ;
}

.taskBg .iconsWrap span{
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  color: #00ff89;
}
.taskBg .iconsWrap span:hover{
  color: yellow;
}


.taskNumber{
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  text-align: center;
  font-size: 16px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.taskBg .taskText{
  flex: 1;
}

.taskBg  .done  .taskText{
  text-decoration: none;
  opacity: 0.3;
}

.mr-24{
  margin-right: 24px;
}

